html {
    background-color: rgb(155, 164, 181);
}

.container {  
    margin-top: 5%;
    margin-bottom: 5%;
    width:auto;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
  }
  
  .Title { 
    /* border:1px solid rgb(0,0,0); */
    grid-area: 1 / 1 / 2 / 3; 
    z-index: 2;
}
#mainTitle {
    font-size: 70pt;
}
#webDescription {
    font-size: 20pt;
}
  
  .homePage { 
    /* border:1px solid rgb(255, 0, 0); */
    grid-area: 1 / 1 / 2 / 4;
    background-image: url("run.png");
    border-radius: 0%;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center right;
    z-index: 1;
 }
  
  .userInput { 
    /* border:1px solid rgb(0,0,0); */
    grid-area: 2 / 1 / 3 / 4; 
  }
  #userInputTitle{
    font-size: 40pt;
  }
    
    #sportsName {
      text-align: flex-start;
      border-radius: 5px;
      width: 700px;
      height: 65px;
      font-size: 15pt;
    }

    #sportPurpose{
      text-align: flex-start;
      float: right;
      width: 700px;
      height: 65px;
      font-size: 15pt;
      border-radius: 5px;
    }

    select{
      padding: 10px;
      width: 200px;
      margin-bottom: 10px;
    }

    #location {
      text-align: flex-start;
      border-radius: 5px;
      width: 700px;
      height: 65px;
      font-size: 15pt;
    }

    textarea{
      text-align: flex-start;
      justify-content: flex-start;
      border-radius: 5px;
      width: 1180px;
      height: 90px;
      font-size: 18pt;
    }


    .add {
      display: flex;
      justify-content: center; 
      align-items: center; 
      
    }
    .add button {
      border-radius: 5px;
        width: 200px;
        height: 65px;
        font-size: 20pt;
    }

      #button {
        padding: 10px 20px;
      }
  
  .recording {
    /*border:1px solid rgb(0,0,0); */
    grid-area: 3 / 1 / 4 / 4; 
    position: absolute;
    margin-top: 60%;
    width: 100%;
  }

    #allRecordingTitle{
      font-size: 50pt;
    }

    #clearAllRecord{
      border-radius: 5px;
      width: 200px;
      height: 40px;
      font-size: 15pt;
    }

    #list{
      width: 1180px;
      font-size: 20pt;
      margin-bottom: 100px;
    }

    .detailButton{
      border-radius: 5px;
      width: 150px;
      height: 40px;
      font-size: 15pt;
    }

    .backButton{
      border-radius: 5px;
      width: 150px;
      height: 40px;
      font-size: 15pt;
    }


.allInformation {
  display: flex;
}

.lastTwo{
  margin-left: 500px;
}
.firstTwo{
  width: 290px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
 
}
.firstTwo p{
  width: 400px;
  display: flex;
}